* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: white;
}

.wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 27px 0 27px;
}

#content {
    margin-top: 90px;
    grid-gap: 20px;
    /* grid-auto-rows: minmax(120px, auto); */
}

#content>* {
    /* padding: 30px; */
    /* background-color: #2EA7F2; */
    /* border: 1px solid #000; */
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

button {
    cursor: pointer;
    border-style: none;
}

/* header main navigation -------------- */

header {
    position: fixed;
    z-index: 10;
    top: 0%;
    left: 50%;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    height: 60px;
    padding: 0 27px 0 27px;
    transform: translate(-50%);
    background-color: #fff;
    grid-gap: 10px;
}

header button {
    align-self: center;
    height: 40px;
    padding: 10px;
    transition: 0.2s;
    border-radius: 20px;
    background-color: transparent;
}

header button span {
    font-size: 25;
    font-weight: 700;
    /* display: none; */
    margin-left: 5px;
}

header button i {
    font-size: 20px;
    transform: translate(0, 10%);
}

button.sign-in {
    width: 80px;
    text-align: center;
    color: #fff;
    background-color: #000;
}

button.sign-in:hover {
    background-color: #333333;
}

header button:hover {
    background-color: #EDEDED;
}

header img {
    width: 200px;
}

/* second navigation -----------------*/

nav {
    align-items: center;
    grid-column: 1/13;
    grid-gap: 10px;
}

.nav-tile {
    display: grid;
    font-size: 14px;
    font-weight: 600;
    height: 70px;
    padding: 18px;
    transition: 0.2s;
    border: 1px solid #000;
    border-radius: 12px;
    background-color: #fff;
    /* background-color: #fff; */
    grid-column: span 2;
    grid-template-columns: repeat(6, 1fr);
}

.nav-tile:hover {
    color: #fff;
    background: #000;
}

.nav-tile span {
    align-self: start;
    text-align: left;
    justify-self: start;
    grid-column: 1/5;
}

.nav-tile i {
    align-self: start;
    font-size: 19px;
    justify-self: end;
    grid-column: 6/7;
}

.extra-button {
    display: none;
}

/* main section -------------------------*/

main {
    margin-top: 25px;
    grid-column: 1/13;
}

/* search-banner --------------------- */

section.search-banner {
    height: 350px;
    background-image: url('../img/search-banner.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center 69%;
    background-size: auto 240%;
    grid-column: 1/13;
    grid-template-rows: repeat(3, 1fr);
}

.search-main {
    display: flex;
    align-self: center;
    flex-direction: row;
    flex-wrap: nowrap;
    /* width: 100%; */
    height: 62px;
    border-radius: 31px;
    background-color: #fff;
    -webkit-box-shadow: 1px 9px 24px -9px rgba(66, 68, 90, 1);
    -moz-box-shadow: 1px 9px 24px -9px rgba(66, 68, 90, 1);
    box-shadow: 1px 9px 24px -9px rgba(66, 68, 90, 1);
    grid-column: 3/11;
    grid-row: 2/3;
}

.search-main button {
    font-size: 25px;
    margin: 0 5px 0 10px;
    padding: 10px;
    border-style: none;
    background-color: transparent;
}

.search-main input {
    font-size: 18px;
    width: 85%;
    border-style: none;
}

.search-main input:target {
    border-style: none;
}

/* vip members carousel-------------------- */

.vip-member {
    height: 450px;
    margin-top: 90px;
    grid-column: 1/13;
}

.vip-member h2 {
    font-weight: 500;
}

.vip-member p {
    font-size: 14px;
    font-weight: 400;
    color: #7B7B7B;
}

.main-carousel {
    width: 100%;
    margin-top: 15px;
}

.carousel-cell {
    width: 272px;
    height: 350px;
    margin-right: 15px;
}

.flickity-button {
    border: 2px solid black;
    background: white;
}

.flickity-prev-next-button {
    transform: translate(0, -50px);
}

.flickity-page-dots {
    display: none;
}

.carousel-vip {
    position: relative;
    height: 273px;
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
}

.carousel-vip:hover::after, .carousel-rentals:hover::after {
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    left: 0;
    display: block;
    height: 100%;
    content: " ";
    background: rgba(255, 255, 255, 0.1);
}

.vip-logo {
    position: absolute;
    bottom: 7px;
    left: 7px;
    width: 40px;
    height: 45px;
    background-image: url('../img/vip-carousel/travelmaker_logo_vip.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: 85%;
}

button.vip-like {
    position: relative;
    top: 10px;
    left: calc(100% - 50px);
    font-size: 20px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #fff;
}

button.vip-like i {
    transform: translate(1px, 1px);
}

.review-dots {
    display: flex;
}

.review-dots span {
    font-size: 12px;
    margin-left: 8px;
}

.rev-dot {
    position: relative;
    overflow: hidden;
    align-self: center;
    width: 12px;
    height: 12px;
    margin: 1px;
    border: 1px solid #00AA6C;
    border-radius: 6px;
    background-color: #00AA6C;
}

.rev-dot div.half {
    position: relative;
    right: 100%;
    left: 50%;
    height: 100%;
    background-color: #fff;
}

.rev-dot.empty {
    background-color: #fff;
}

.carousel-cell h4 {
    /* font-size: 50px; */
    font-weight: 600;
    margin-top: 5px;
}

.second-text {
    font-size: 15px;
    font-weight: 600;
}

.pic-1 {
    background-image: url('../img/vip-carousel/atman-studios-UPolqOrkbno-unsplash.jpg');
}

.pic-2 {
    background-image: url('../img/vip-carousel/jason-briscoe--eLfQTmDfLk-unsplash.jpg');
}

.pic-3 {
    background-image: url('../img/vip-carousel/saad-khan-425b2PhNuHA-unsplash.jpg');
}

.pic-4 {
    background-image: url('../img/vip-carousel/paolo-nicolello-2gOxKj594nM-unsplash.jpg');
}

.pic-5 {
    background-image: url('../img/vip-carousel/yuliya-pankevich-oyxsG2Lh_uA-unsplash.jpg');
}

.pic-6 {
    background-image: url('../img/vip-carousel/finn-cNsIhcGjkc0-unsplash.jpg');
}

.pic-7 {
    background-image: url('../img/vip-carousel/sara-dubler-Koei_7yYtIo-unsplash.jpg');
}

.pic-8 {
    background-image: url('../img/vip-carousel/paul-szewczyk-yHmnjcVHoP4-unsplash.jpg');
}

/* reantls section------------------------*/

.home-rentals {
    margin-top: 60px;
}

.home-rentals h2 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 33px;
    grid-column: 1/13;
}

.home-rentals p {
    font-size: 20px;
    font-weight: 600;
    padding-right: 20px;
    grid-column: 1/4;
}

.rental-carousel {
    margin-top: ;
    grid-column: 4/13;
}

.carousel-rentals {
    height: 204px;
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
}

.carousel-cell-rentals {
    width: 272px;
    height: 300px;
    margin-right: 15px;
}

.carousel-cell-rentals h4 {
    /* font-size: 50px; */
    font-weight: 600;
    margin-top: 5px;
}

.rentals {
    font-size: 15px;
    font-weight: 600;
}

/* explore section ----------------------- */

/* footer ------------------------------- */

footer {
    grid-column: 1/13;
}